html, body, form, input, label, h1, h2, h3, h4, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
	height: 100%;
  font: inherit;
	font-family: 'Lato', sans-serif;
  vertical-align: baseline;
  background: transparent;
}

a {
  width: 100%;
	text-decoration: none;
  color: #000;
}

a:hover, .nav > ul > li:hover {
  color: #800000;
}

ul {
	list-style: none;
}

.group:after {
	display: block;
	content: "";
	clear: both;
}

.content {
	width: 100%;
  height: 100%;
}

.nav {
	display: block;
	float: left;
	width: 215px;
}

/*.nav, .main {
  position: relative;
  top: 20%;
  transform: translateY(-50%);
}*/

.propic {
	width: 150px;
	height: 225px;
	margin: 30px;
	border: 1px solid black;
	border-radius: 3px;
}

.nav > ul {
	display: block;
	float: left;
	width: 200px;
	padding: 0 30px;
}

.nav > ul > li {
	display: block;
	float: left;
  width: 150px;
	padding: 15px 5px;
	font-size: 18px;
	border-bottom: 1px solid #CCC;
}

.nav > ul > li p {
  display: inline-block;
  padding-left: 5px;
}

.nav > ul > li:hover {
	cursor: pointer;
}

.nav > ul > li:last-child {
	border: none;
}

.left-col {
  display: block;
  float: left;
  width: 300px;
}

.right-col {
  display: block;
  float: right;
  width: 300px;
}

.main {
	display: block;
  width: 100%;
	padding: 30px;
}

.main > h1 {
	font-size: 40px;
	font-weight: 300;
}

.resume {
  display: block;
  float: left;
  width: 700px;
}

.name {
  font-size: 50px;
}

.title {
  font-size: 24px;
}

.hidden {
  display: none;
}