html, body, form, input, label, h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
	height: 100%;
  font: inherit;
	font-family: 'Lato', sans-serif;
  vertical-align: baseline;
  background: transparent;
}

@font-face {
	font-family: "Prime Light";
	src: local("Prime Light"), url("PrimeLight.otf") format("opentype");
}

a {
  width: 100%;
	text-decoration: none;
  color: #000;
}

a:hover, .nav > ul > li:hover {
  color: #800000;
}

ul {
	list-style: none;
}

.group:after {
	display: block;
	content: "";
	clear: both;
}

.nav {
	display: block;
	float: left;
  position: fixed;
	width: 215px;
}

.propic {
	width: 150px;
	height: 225px;
	margin: 30px;
	border: 1px solid black;
	border-radius: 3px;
}

.nav > ul {
	display: block;
	float: left;
	width: 200px;
	padding: 0 30px;
}

.nav > ul > li {
	display: block;
	float: left;
  width: 150px;
	padding: 15px 5px;
	font-size: 18px;
	border-bottom: 1px solid #CCC;
}

.nav > ul > li p {
  display: inline-block;
  padding-left: 5px;
}

.nav > ul > li:hover {
	cursor: pointer;
}

.nav > ul > li:last-child {
	border: none;
}

.left-col {
  display: block;
  float: left;
  width: 350px;
	margin-left: 10px;
}

.right-col {
  display: block;
  float: right;
  width: 350px;
	margin-right: 10px;
}

.content {
	display: block;
  margin: 0 auto;
  width: 800px;
	height: 100%;
	padding: 30px;
}

.home {
	margin-top: 100px;
}

.home > h1 {
	font-size: 40px;
	font-weight: 300;
}

.home > h2 {
	display: block;
	float: right;
	margin-right: 80px;
}

.resume {
	height: 950px;
}

.resume > header {
  padding-bottom: 20px;
  border-bottom: 1px solid #800000;
}

.resume a {
	text-decoration: underline;
}

.resume-contact {
	display: inline;
	font-family: "Prime Light";
	color: #800000;
}

.academic-info {
  margin-top: 10px;
}

.name {
	display: block;
	float: left;
	text-align: right;
	width: 140px;
  font-size: 60px;
	font-family: "Prime Light";
	color: #800000;
}

.contact-info {
	margin-top: 10px;
}

.title {
	display: inline-block;
  font-size: 24px;
	font-family: "Prime Light";
}

.heading {
  font-size: 30px;
	font-family: "Prime Light";
	margin: 10px 0 20px 0;
	border-bottom: 1px solid #800000;
	color: #800000;
}

.hidden {
  display: none;
}

.details {
  display: inline-block;
	font-size: 18px;
}

.info {
	font-size: 14px;
	margin-bottom: 10px;
}

.experience .details, .experience .info {
	font-family: "Prime Light";
}

.projects ul > li, .experience ul > li, .technologies p, .other-interests p {
	margin-bottom: 10px;
}

.technologies {
  display: block;
  float: left;
  width: 360px;
}

.other-interests {
  display: block;
  float: right;
  width: 370px;
}

.projects > h1 {
	font-size: 50px;
	text-align: center;
	margin-bottom: 20px;
}

.project-header {
	border-bottom: 1px solid #800000;
}

.projects h2 {
	display: block;
	float: left;
	font-size: 30px;
}

.live-source {
	display: block;
	float: right;
	padding-top: 15px;
}

.live-source > h3 {
	display: inline-block;
}

.projects img {
	width: 800px;
	height: 540px;
}

.projects > ul ul {
	list-style: circle;
}

.projects > ul ul > li {
	margin-left: 70px;
}

.projects h4 {
	margin-left: 45px;
	margin-bottom: 10px;
	font-size: 18px;
}